.root__container {
    min-width: 1280px;
    min-height: 720px;
    position: relative;
}

.root__container__backgounrd {
    background : rgba(16,16,16, 0.8);
}

.menu__container {
    top: 90px;
    left: 0px;
    position: absolute;
    max-width: 630px;
}

.menu__item {
    width: 420px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__item__img{
    margin-left: 100px;
}

.theme-color-focus-green {
    background: #62a60a;
}

.active{
    opacity: 1.0;
}

.inactive{
    opacity: 0.3;
}

.menu__item__text{
    font-family: 'AzoSansWeb-Regular';
    font-size: 30px;
    color: rgba(234, 234, 234, 1);
    margin-left: 21px;
}